<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digits Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="main-title">
            <h1>MNIST Classifier</h1>
            <p>Digits Classification with Tensorflow and Flask</p>
        </div>
        <div class="main-content">
            <div class="main-content--canvas">
                <canvas id="canvas"></canvas>
            </div>
            <div class="main-content--result">
                <div class="result-prediction" id="result-prediction">
                    <h1>Predict: {{predic_value}}</h1>
                </div>
                <div class="result-buttons">
                    <button class="button" onclick="clearCanvas()">
                        Clear Section
                    </button>
                </div>
                <div class="result-probs">
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js')}}"></script>
</body>
</html>